html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: darkgray;
}



/* Add your flexbox CSS below here */

.container {
    display: flex;
    flex-flow: row wrap;
    background-color: antiquewhite;
    height: 100vh;
    align-items: stretch;
}
.block{

    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.block-right{
    background-color: yellow;

}
.block-left{
    background-color: red;
}
.block-center{
    background-color: green;
}
.item{
    text-align: center;
    flex-grow: 1;


}
.item-1{
    background-color: rebeccapurple;
}
.item-2{
    background-color: darkcyan;
}
.item-3{
    background-color: darkblue;
}
.item-4{
    background-color: pink;
}
.item-5{
    border-color: darkcyan;
    border-radius:5px;
    flex: 2;

}
.item-6{
    background-color: yellowgreen;
}
.item-7{
    background-color: beige;
}
.item-8{
    background-color: brown;
}
.item-9{
    background-color: blue;
}


